.basketContainer {
  width: 30%;
}

.basketContainer header {
  margin: 20px auto;
  font-size: 1.3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basketContainer header button {
  border: none;
  background-color: transparent;
}

.basketContainer header button i {
  background-color: transparent;
  color: palevioletred;
  font-size: 1.5em;
  padding: 1px;
  cursor: pointer;
  transition: 1s;
}

.basketContainer header span i:hover {
  color: rgb(190, 37, 37);
}

.basketContainer ul {
  list-style-type: none;
}

.basketContainer ul li {
  background-color: rgba(162, 247, 162, 0.795);
  padding: 7px 15px;
  font-family: "Poppins";
  font-size: 1.5em;
  width: 100%;
  border: 1px solid rgba(106, 131, 63, 0.76);
  border-radius: 7px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.7s;
}

.basketContainer ul li:hover {
  background-color: rgba(119, 243, 119, 0.795);
}

.toggled {
  text-decoration: line-through;
}

.basketContainer ul li span {
  margin-right: 10px;
}

.basketContainer ul li i {
  font-size: 0.5em;
}
