.filterContainer {
  width: 50%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}

.filterContainer .filterItem {
  flex-basis: 25%;
  background-color: rgb(252, 250, 250);
  font-size: 1.6em;
  border: 1px solid darkgray;
  padding: 2px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.filterContainer .activeItem {
  background-color: lightgray;
}
