.groceryContainer {
  width: 30%;
}

.groceryContainer header {
  margin: 20px auto;
  font-size: 1.3em;
}

.groceryContainer ul {
  list-style-type: none;
}

.groceryContainer ul li {
  background-color: lightgray;
  padding: 7px 15px;
  font-family: "Poppins";
  font-size: 1.5em;
  width: 100%;
  border: 1px solid darkgray;
  border-radius: 7px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.7s;
}

.groceryContainer ul li:hover {
  background-color: rgb(180, 179, 179);
}

.groceryContainer ul li span {
  margin-right: 10px;
}

.groceryContainer ul li i {
  font-size: 0.5em;
}
