.appHeader {
  text-align: center;
  background-color: #222;
  height: 186px;
  padding: 20px;
  color: white;
}

.appHeader .appTitle {
  margin-top: 1em;
  font-size: 1.5em;
}

.appHeader i {
  font-size: 8em;
}

.nav {
  width: 50%;
  background-color: pink;
  margin: 2em auto;
  border: 1px solid red;
  padding: 20px 0;
  text-align: center;
  border-radius: 6px;
}

.nav form input {
  padding: 8px 15px;
  border: none;
  appearance: none;
  outline: none;
  border-radius: 8px;
  width: 40%;
  margin-right: 2em;
}

.nav form button {
  background-color: rgba(161, 71, 245, 0.76);
  padding: 7px 10px;
  color: white;
  border: none;
  border-radius: 8px;
}
